<% include partials/header %>
    <h1 class="text-center">Exchange Rates</h1>

    <div class="container-fluid">
        <table class="table table-sm text-center col-6 mx-auto w-50 table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Currency</th>
                    <th scope="col">Rate</th>
                </tr>
            </thead>
            <tbody>
                <%  for (var key in ticker) { %>
                    <% if (ticker.hasOwnProperty(key)) { %>
                        <tr>

                            <td>
                                <%= key %>
                            </td>
                            <td>
                                <%= ticker[key] %>
                            </td>

                        </tr>


                        <% }} %>
            </tbody>
        </table>
    </div>
    <% include partials/footer %>