<% include partials/header %>

  <h2 class="text-center mb-4">Create a new campground</h2>

  <form action="/campgrounds" method="POST" class="container col-sm-8 col-md-5 col-lg-4">
    <div class="form-group text-center mb-1">

      <input type="text" name="name" placeholder="enter name" class="form-control form-control-sm">
    </div>
    <div class="form-group text-center mb-1 ">

      <input type="text" name="image" placeholder="enter image url" class="form-control form-control-sm">
    </div>
    <div class="form-group text-center mb-0">
      <button href="#" class="w-100 d-block btn btn-sm btn-info mx-auto" style="">Submit!</button>
    </div>
    <a href="/campgrounds" class="small text-muted">Go back</a>
  </form>




  <% include partials/footer %>